html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
  	-webkit-background-clip: padding-box;
  	color: #000000;
	  font-size: 14px;
	  &.fixed {
		  position: fixed;
	  }
}

button {
	outline: none;
	border: none;
	user-select: none;
}

label {
	margin-bottom: 0px;
}

ul {
	margin: 0;
	padding: 0;
	li {
    display: block;
	list-style: none;
	}
}

a, a:visited,a:hover,a:focus,a:active {
	text-decoration: none;
	outline: none;
}

a:hover {
	color: white;
}

input:focus {
	outline: none;
}

label {
	display: block;
  	text-align: left;
}

strong {
  	font-weight: bold;
}

p {
	margin: 0px;
}

img {
	max-width: 100%;
}

textarea:focus {
	outline: none;
}