// MOBILE MANIPULATION
.mobile-none {
    @media (max-width: 767px) {
        display: none !important;
    }
}
.mobile-block {
    @media (max-width: 767px) {
        display: block;
    }
}
// MARGINS
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-80 {
    margin-bottom: 80px;
}