.introjs-helperNumberLayer {
    display: none;
}

.introjs-prevbutton {
    display: none;;
}

.introjs-bullets {
    display: none;
}

.introjs-nextbutton, .introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus{
    background-color: #0141AA;
    border: none;
    border-radius: 20px;
    background-image: none;
    color: #fff;
    text-shadow: none;
}
.introjs-button:focus {
    background-color: #0141AA;
    border: none;
    border-radius: 20px;
    background-image: none;
    color: #fff;
    text-shadow: none;
}

.introjs-overlay {
    background: #4C4C4C !important;
    opacity: 0.25 !important;
}

.introjs-tooltip {
    padding: 0px !important;
    max-width: 388px;
    // height: 265px;
}

.introjs-tooltiptext {
    font-family: 'Lato' , sans-serif;
    color: #4c4c4c;
    p {
        border-bottom: 1px solid rgba(76, 76, 76, 0.15);
        height: 64px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        padding-left: 30px;
    }
    div {
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        font-size: 16px;
    }
}

.introjs-tooltipbuttons {
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-around;
    flex-flow: row-reverse;
    .introjs-nextbutton {
        padding: 6px 17px;
    }
    .introjs-skipbutton {
        background-color: transparent;
        border: none;
        background: transparent;
        text-decoration: underline;
        color: #1094ff;
        border-radius: 0px;
        &:hover {
            box-shadow: none;
            color: #1094ff;
        }
        &:focus {
            box-shadow: none;
            color: #1094ff;
        }
    }
}

.introjs-arrow.bottom {
    left: 50%;
}
.introjs-arrow {
    &.top {
        left: 50%;
    }
}