.appointments-page {
    .appointments {
        padding-top: 60px;
        padding-bottom: 78px;
        padding-bottom: 38px;
        @media (max-width: 767px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .back-dashboard {
            padding-bottom: 30px;
        }
        .box-head {
            @media (max-width: 767px) {
                font-size: 16px;
                font-weight: normal;
                height: 52px;
            }
        }
        .table-wrap {
            @media (max-width:767px) {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
        .main-white-box {
            margin: 0 auto;
            .box-body {
                padding-top: 20px;
                padding-left: 40px;
                padding-right: 35px;
                border-bottom: 0.3px solid rgba(76, 76, 76, 0.15);
                @media (max-width: 767px) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .app-table {
                    table {
                        width: 100%;
                        thead {
                            font-size: 14px;
                            color: #0141aa;
                            th {
                                font-weight: normal;
                                padding-bottom: 20px;
                            }
                        }
                        tbody {
                            td {
                                padding-bottom: 20px;
                                color: #4c4c4c;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .box-footer {
                padding-left: 40px;
                height: 60px;
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                @media (max-width: 767px) {
                    padding-left: 20px;
                    height: 53px;
                }
                .app-result {
                    font-size: 14px;
                    color: rgba(76, 76, 76, 0.5);
                }
            }
        }
    }
}