
.wrap-link {
  display: flex;
  justify-content: center;
  align-items: center;
  .info-wrap {
    position: relative;
    margin-top: -3px;
    .text-info {
      font-size: 12px;
      line-height: 14px;
      text-align: left;
      color: #4c4c4c !important;
    }
    img {
      margin-right: 10px;
      &:hover ~ .text-info {
        opacity: 1;
      }
    }
  }
}

.shedule-page-gp .box-footer .blue-big-btn {
  margin: 0;
}

.shedule-page-gp .individual .box-body .doctor-info .name-adress .adress-text {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.interests-list {
  padding-left: 30px;
  .interests-item {
    list-style-type: circle;
    position: relative;
    &:before {
      content: '.';
      position: absolute;
      left: -20px;
      top: -2px;
      font-size: 40px;
      line-height: 0;
      color: #000
    }

  }
  @media (max-width: 767px) {
    display: none;
  }
}

.shedule-page-gp .individual .box-body .doctor-info .price-day .price-box {
  text-align: right;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #1094ff
}

.shedule-page-gp .individual .box-body .doctor-info {
  padding-bottom: 25px;
}

.shedule-page-gp .individual .box-body .doctor-info .name-adress {
  flex: 1;
  margin-left: 30px;
  margin-right: 0;
}

.shedule-page-gp .individual .box-body .doctor-info .img-mask {
  margin-right: 0;
}

.wrap-link {
  flex-direction: column;

}

.wrap-link .info-wrap {
  display: flex;
  max-width: 442px;
  justify-content: space-between;
  margin-top: 15px;
}

.wrap-link .info-wrap .text-info {
  opacity: 1;
}

.datetimepicker-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
  .form-group {
    max-width: 200px;
    margin-left: 10px;
    margin-bottom: 0;
  }
  .datetimepicker-input:focus {
    border-radius: 1px;
    background-color: #ffffff;
    border: solid 1px #4c4c4c;
    &:focus {
      outline: none;
      box-shadow: none;
      border: solid 1px #4c4c4c;
    }
  }
  .form-control:focus {
    border: solid 1px #4c4c4c;
  }

  .input-group-text {
    padding: 6px;
    img {
      width: 20px;
      height: 20px;
    }
  }

}

.modal-referral {
  .modal-body {
    padding: 25px 0;
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 65px;
  }
  .modal-number-txt {
    text-align: left;
  }
  .patient-details-wrap {
    padding-left: 30px;
    .patient-name-title {
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      color: #4c4c4c;
      margin-bottom: 20px;
      .patient-name {
        font-weight: 400;
      }
    }
  }
  .full-red {
    background-color: #d54355;
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .rounded-btn {
      width: 162px;
    }
  }
  .modal-header {
    padding-left: 30px;
    align-items: center;
  }
  .modal-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

}
@media (max-width: 998px) {
  .shedule-page-gp .individual .main-white-box {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .shedule-page-gp .individual .main-white-box {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .shedule-page-gp .individual .box-body .doctor-info .price-day {
    display: flex;
    display: inline-block;

  }
  .shedule-page-gp .individual .box-body .box-footer {
    padding: 30px 20px;
    padding-top: 0px;
  }
  .individual-page .individual .box-body .doctor-info {
    flex-wrap: wrap;
    
  }
  .blue-big-btn {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .blue-big-btn {
    margin: 0 20px;
  }
  .shedule-page-gp .box-footer .blue-big-btn {
    margin: 0 20px;
  }

  .header-main {
    padding: 0 30px;
  }
  .individual-page .change-app-modal .footer-btn a:first-child {
    margin-right: 0px;
  }
  .datetimepicker-wrap {
    flex-direction: column;
  }
  .datetimepicker-wrap .form-group {
    margin-left: 0;
    margin-top: 35px;
  }
  .phone-wrap span {
    display: block;
  }
  .shedule-page-gp .change-app-modal .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }
  .shedule-page-gp .change-app-modal .footer-btn {
    justify-content: space-around;
  }
}
