.complete-booking-page {
    .complete-booking-main {
        padding-top: 60px;
        padding-bottom: 80px;
        @media (max-width: 767px) {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        .main-white-box {
            margin: 0 auto;
            @media (max-width: 830px) {
                width: auto;
                max-width: 100%;
                margin-left: 30px;
                margin-right: 30px;
            }
            .box-head {
                @media (max-width: 767px) {
                    height: 88px;
                    span {
                        max-width: 280px;
                    }
                }
            }
            .box-body {
                padding-top: 30px;
                padding-bottom: 80px;
                @media (max-width: 767px) {
                    padding-bottom: 48px;
                }
                .box-title {
                    font-size: 18px;
                    color: #4c4c4c;
                    padding-bottom: 30px;
                    @media (max-width: 767px) {
                        padding-bottom: 40px;
                    }
                }
                .booking-items {
                    padding-left: 40px;
                    padding-right: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media (max-width: 767px) {
                        display: flex;
                        flex-direction: column;
                    }
                    .item {
                        text-align: center;
                        max-width: 200px;
                        padding-bottom: 50px;
                        @media (max-width: 767px) {
                            padding-bottom: 40px;
                        }
                        img {
                            padding-bottom: 20px;
                            @media (max-width: 767px) {
                                padding-bottom: 15px;
                            }
                        }
                        p {
                            color: #4c4c4c;
                            font-size: 14px;
                        }
                    }
                    &.two-items {
                        justify-content: center;
                        .item {
                            &:first-child {
                                margin-right: 62px;
                                @media (max-width: 767px) {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
                &.gp-letter {
                    border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
                    padding-bottom: 30px;
                    .letter-txt {
                        max-width: 595px;
                        padding-top: 30px;
                        padding-bottom: 30px;
                        margin: 0 auto;
                        font-size: 14px;
                        color: #4c4c4c;
                        padding-left: 30px;
                        padding-right: 30px;
                        &.success {
                            max-width: 615px;
                            padding-top: 20px;
                            padding-bottom: 60px;
                        }
                    }
                    .attach-item-wrap {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .item {
                            display: flex;
                            align-items: center;
                            color: #4c4c4c;
                            font-size: 14px;
                            padding-right: 15px;
                        }
                        .upload-btn {
                            width: 83px;
                            height: 25px;
                            margin: 0;
                        }
                    }
                }
            }
            .box-footer {
                padding-top: 30px;
                padding-bottom: 30px;
                border-top: solid 0.3px rgba(76, 76, 76, 0.15);
                text-align: center;
                font-size: 14px;
                color: #4c4c4c;
                @media (max-width: 767px) {
                    padding-top: 23px;
                    padding-bottom: 60px;
                }
                p {
                    max-width: 586px;
                    margin: 0 auto;
                    @media (max-width: 767px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}