.finish-tutor {
    margin: 0 auto;
    width: 194px;
  height: 40px;
  border-radius: 18.8px;
  background-color: #0141aa;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 15px;
}

.reverse-block {
    @media (min-width: 767px) {
        display: none;
    }
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .text-wrap {
        display: flex;
        align-items: center;
        .tutor-txt {
            cursor: pointer;
            color: #1094ff;
        }
        img {
            margin-left: 10px;
        }
    }
}

.introjs-tooltiptext p {
    justify-content: center;
    padding-left: 0;
}
.introjs-tooltipbuttons {
    flex-direction: row;
}
.introjs-tooltiptext h4 {
    padding: 20px 30px;
    color: #4c4c4c;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
    width: 100%;
}
.startTutor {
    padding-top: 120px;
    .line-btn {
        font-size: 14px;
        color: #1094ff;
        border-bottom: none;
        text-decoration: underline;
    }
    .modal-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 47px;
    }
    .modal-body {
        p {
            padding-bottom: 50px;
            color: #4c4c4c;
            font-size: 16px;
        }
    }
}
.finishTuour .modal-bottom {
    justify-content: center;
}
.complete-booking {
    .modal-body {
        padding-left: 30px;
        p {
            padding-bottom: 25px;
            font-size: 16px;
            color: #4c4c4c;
        }
        .datetimepicker-wrap {
            justify-content: flex-start;
            color: #4c4c4c;
        }
        .btn-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            .rounded-btn {
                margin: 0;
                max-width: 166px;
                margin-left: 50px;
            }
        }
    }
    .modal-content {
        padding-bottom: 50px;
        .full-green {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}
.dashboard-wrap {
    padding-top: 60px;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #fefefe;
    background: -moz-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f6f6f6 50%, #f2f2f2 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .boxes-wrap {
        max-width: 920px;
        padding-bottom: 80px;
        display: flex;
        margin: 0 auto;
        font-family: 'Lato', sans-serif;
        @media (max-width: 945px) {
            margin-left: 30px;
            padding-bottom: 60px;
            margin-right: 30px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .left-part {
            @media (max-width: 767px) {
                margin-bottom: 0px;
            }
            .profile {
                max-width: 227px;
                border-radius: 3px;
                padding: 25px 0px 17px 0px;
                background-color: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                margin-bottom: 15px;
                margin-right: 30px;
                @media (max-width: 767px) {
                    margin-bottom: 25px;
                }
                .mobile-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding-bottom: 28px;
                    @media (max-width: 767px) {
                        flex-direction: row;
                    }
                    .location {
                        img {
                            width: 16px;
                        }
                        @media (max-width: 767px) {
                            padding-bottom: 0px;
                            padding-left: 20px;
                        }
                        .location {
                            padding-left: 0px;
                        }
                    }
                }
                @media (max-width: 767px) {
                    width: 100%;
                    max-width: 100%;
                }
                .profile-ava-circle {
                    width: 126px;
                    height: 126px;
                    margin: 0 auto;
                    border-radius: 50%;
                    margin-bottom: 20px;
                    @media (max-width: 767px) {
                        margin: 0;
                    }
                }
                .profile-name {
                    font-size: 20px;
                    text-align: center;
                    color: #4c4c4c;
                    padding-bottom: 15px;
                }
                .location {
                    text-align: center;
                    // padding-bottom: 30px;
                    img {
                        margin-right: 10px;
                    }
                    span {
                        font-size: 16px;
                        color: #4c4c4c;
                    }
                }
                .edit-profile {
                    border-top: solid 0.3px rgba(76, 76, 76, 0.15);
                    text-align: center;
                    a {
                        margin-top: 15px;
                        display: block;
                        font-size: 14px;
                        text-align: center;
                        color: #1094ff;
                        @media (max-width: 767px) {
                            font-size: 16px;
                        }
                    }
                }
            }
            .tutorial-box {
                max-width: 227px;
                border-radius: 3px;
                padding: 19px 16px 19px 16px;
                text-align: center;
                background-color: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                margin-right: 30px;
                @media (max-width: 767px) {
                    width: 100%;
                    max-width: 100%;
                }
                .tutor-txt {
                    padding-top: 20px;
                    font-size: 14px;
                    cursor: pointer;
                    color: #1094ff;
                    @media (max-width: 767px) {
                        padding-top: 0px;
                        font-size: 16px;
                    }
                }
            }
        }
        .right-part {
            @media (max-width: 960px) {
                width: 100%;
            }
            .appointmen-box {
                width: 662px;
                height: 238px;
                border-radius: 3px;
                background-color: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                padding-bottom: 20px;
                position: relative;
                @media (max-width: 960px) {
                    max-width: 100%;
                    width: 100%;
                }
                .d-box-name {
                    padding-left: 20px;
                }
                .box-footer {
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 20px;
                    right: 20px;
                    a {
                        font-size: 14px;
                        color: #1094ff;
                    }
                }
                .box-body {
                    padding-left: 20px;
                    
                    display: flex;
                    flex-direction: column-reverse;
                    table {
                        color: #0141AA;
                        tr {
                            th {
                                padding-top: 15px;
                                padding-bottom: 20px;
                                font-weight: 400;
                                &:last-child {
                                    padding-right: 80px;
                                }
                            }
                        }
                        td {
                            color: #4c4c4c;
                            padding-bottom: 20px;
                        }
                    }
                    p {
                        text-align: center;
                        margin-top: 45px;
                    }
                }
                @media (max-width: 600px) {
                    height: auto;
                }
            }
            .d-box-name {
                height: 52px;
                border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
                font-size: 16px;
                padding-left: 15px;
                color: #4c4c4c;
                display: flex;
                align-items: center;
            }
            .double-box {
                display: flex;
                justify-content: space-between;
                @media (max-width: 960px) {
                    flex-direction: column;
                }
                .main-box {
                    width: 316px;
                    height: auto;
                    position: relative;
                    min-height: 210px;
                    border-radius: 3px;
                    background-color: #ffffff;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                    @media (max-width: 960px) {
                        width: 100%;
                    }
                    .box-body {
                        text-align: center;
                        padding-top: 30px;
                        &.step-doctor {
                            padding-top: 17px;
                            .doctor-step-arrow {
                                margin-left: 20px;
                                margin-right: 20px;
                            }
                        }
                        &.step-pathway {
                            display: flex;
                            justify-content: center;
                            font-size: 14px;
                            color: #4c4c4c;
                            @media (max-width: 767px) {
                                justify-content: space-between;
                                padding-left: 30px;
                                padding-top: 15px;
                                padding-right: 30px;
                            }
                            .step {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                img {
                                    @media (max-width: 767px) {
                                        width: 54px;
                                    }
                                }
                                span {
                                    margin-top: 4px;
                                    @media (max-width: 767px) {
                                        color: rgba(76, 76, 76, 0.56);
                                    }
                                }
                            }
                            .right-arrow {
                                margin-left: 8px;
                                margin-right: 8px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    .box-footer {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 20px;
                        right: 20px;
                        a {
                            font-size: 14px;
                            color: #1094ff;
                            @media (max-width: 767px) {
                                font-size: 16px;
                            }
                        }
                    }
                    &.letter-box {
                        @media (max-width: 960px) {
                            margin-bottom: 30px;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}