.start-tutor {
  cursor: pointer;
}
.dashboard-gp-wrap .boxes-wrap .right-part .one-box {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  height: 220px;
  flex-direction: column;
  &.referral {
    height: 227px;
  }
}

.dashboard-gp-wrap .boxes-wrap .right-part .one-box .main-box {
  width: 100%;
}

.dashboard-gp-wrap .boxes-wrap .right-part .appointmen-box .box-body {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 15px;
}

.dashboard-gp-wrap .one-box .box-body img {
  width: 99px;
  height: 99px;

  &.doctor-step-arrow {
    width: 60px;
    height: 30px;
    margin: 0 30px;
  }
}
.dashboard-gp-wrap .one-box .one-elem img {
  width: 180px;
}

.dashboard-wrap .boxes-wrap .left-part .tutorial-box-big {
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .tutor-txt {
    margin-top: auto;
    text-align: right;
  }
  img {
    margin: auto;
  }
}

.dashboard-wrap .boxes-wrap .left-part .tutorial-box-big {
  .text-wrap {
    display: flex;
    img {
      margin-left: 10px;
    }
  }
  .tutor-txt {
    padding-top: 0;
  }
}

.main-box .box-footer img {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .dashboard-gp-wrap {
    padding-top: 50px;
  }
  .dashboard-gp-wrap .boxes-wrap .left-part .tutorial-box .tutor-txt {
    margin-top: 20px;
    text-align: right;
    font-size: 14px;
  }
  .dashboard-gp-wrap .boxes-wrap .right-part .double-box .main-box.letter-box {
    margin-top: 30px;
  }
  .dashboard-gp-wrap .boxes-wrap {
    padding-bottom: 0;
  }
  .dashboard-wrap .boxes-wrap .left-part .profile .profile-ava-circle {
    margin: 0 10px;
  }
  .dashboard-wrap .boxes-wrap .left-part .profile .location {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .dashboard-gp-wrap .one-box .box-body img {
    width: 74px;
    height: 74px;
  }
  .dashboard-gp-wrap .one-box .one-elem img {
    width: 130px;
    height: 130px;
  }
  .dashboard-wrap .boxes-wrap .left-part .profile .profile-name {
    text-align: left;
  }
  .dashboard-gp-wrap .one-box .box-body img.doctor-step-arrow {
    margin: 0 15px;
    width: 50px;
  }
}

@media (max-width: 400px) {
  .dashboard-wrap .boxes-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .dashboard-wrap .boxes-wrap .right-part .double-box .main-box .box-body.step-pathway {
    padding-left: 10px;
    padding-right: 10px;
  }
  .dashboard-wrap .boxes-wrap .right-part .double-box .main-box .box-body.step-pathway .right-arrow {
    margin-left: 3px;
    margin-right: 3px;
  }
}