.edit-profile-page {
    .edit-profile-simple {
        padding: 60px 0px 80px 0px;
        .main-box {
            max-width: 786px;
            padding: 0px 0px 0px 0px;
            .profile-tabs {
                ul {
                    padding-left: 48px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    @media (max-width: 767px) {
                        padding-left: 37px;
                        justify-content: space-between;
                        padding-right: 37px;
                    }
                    li {
                        a {
                            font-size: 20px;
                            font-weight: bold;
                            color: #4c4c4c;
                            @media (max-width: 767px) {
                                font-size: 18px;
                            }
                            &.active {
                                color: #1094ff;
                                border-bottom: 2px solid #1094ff;
                                padding-bottom: 2px;
                            }
                        }
                        &:first-child {
                            margin-right: 40px;
                            @media (max-width: 767px) {
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
            .tab-content {
                padding-top: 33px;
                @media (max-width: 998px) {
                    padding-left: 0px;
                    padding-right: 0px;
                }
                @media (max-width: 888px) {
                    padding-left: 0px;
                    padding-right: 0px;
                }
                .form-section {
                    margin-bottom: 0px;
                    padding-left: 48px;
                    padding-right: 48px;
                    max-width: 100%;
                    @media (max-width: 767px) {
                        padding-left: 37px;
                        padding-right: 37px; 
                    }
                    &.profile-details-tab {
                        margin-bottom: 60px;
                    }
                    .right {
                        vertical-align: top;
                    }
                    .left {
                        margin-right: 100px;
                        @media (max-width: 830px) {
                            margin-right: 45px;
                        }
                        &.login-detail-tab {
                            max-width: 100%;
                            margin-right: 0px;
                            padding-bottom: 13px;
                            @media (max-width: 767px) {
                                padding-bottom: 0px;
                                .input-wrap {
                                    &:last-child {
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                            input {
                                &.lg {
                                    max-width: 460px;
                                }
                            }
                            .for-change {
                                @media (max-width: 767px) {
                                    padding-bottom: 32px;
                                }
                                span {
                                    font-size: 14px;
                                    margin-left: 8px;
                                    cursor: pointer;
                                    color: #1094ff;
                                    @media (max-width: 767px) {
                                        text-align: center;
                                        padding-top: 19px;
                                        display: block;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                    &.pass-change-block {
                        border-top: solid 1px rgba(76, 76, 76, 0.15);
                        max-width: 100%;
                        padding-left: 48px;
                        padding-right: 48px;
                        padding-top: 27px;
                        display: none;
                        @media (max-width: 767px) {
                            padding-bottom: 0.1px;
                        }
                        &.open-block {
                            display: block;
                        }
                        .login-detail-tab {
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        .sub-sign-footer {
                            margin-top: 60px;
                            margin-bottom: 65px;
                        }
                    }
                }
                .profile-detail-btn {
                    padding-bottom: 58px;
                    @media (max-width: 767px) {
                        padding-bottom: 38px;
                    }
                }
            }
            .complete-btn {
                max-width: 194px;
            }
            &.for-btn {
                box-shadow: none;
                padding-bottom: 75px;
                padding-top: 30px;
                a {
                    margin-bottom: 0px;
                }
            }
        }
        &.editGP {
            .address-detail {
                font-size: 20px;
                font-weight: bold;
                color: #0141aa;
            }
            .button-wrap {
                padding-top: 30px;
                @media (max-width: 767px) {
                    margin: 0 auto;
                }
            }
        }
    }
}