.individual-page {
    .individual {
        padding-top: 60px;
        padding-bottom: 80px;
        @media (max-width: 767px) {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        .main-white-box {
            margin: 0 auto;
            @media (max-width: 998px) {
                margin-left: 30px;
                margin-right: 30px;
                width: auto;
            }
        }
        .back-dashboard {
            padding-bottom: 21px;
            @media (max-width: 767px) {
                padding-bottom: 30px;
            }
        }
        .box-head {
            display: flex;
            justify-content: space-between;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
                padding-top: 20px;
                padding-bottom: 20px;
                height: auto;
                font-size: 18px;
            }
        }
        .box-body {
            padding-top: 20px;
            padding-bottom: 80px;
            
            @media (max-width: 767px) {
                padding-top: 20px;
                padding-bottom: 25px;
            }
            .title {
                font-size: 16px;
                color: #4c4c4c;
                padding-bottom: 30px;
                @media (max-width: 767px) {
                    padding-bottom: 40px;
                }
                &.details {
                    color: #0141aa;
                    padding-left: 40px;
                    @media (max-width: 767px) {
                        padding-bottom: 30px;
                        padding-left: 20px;
                    }
                }
            }
            .doctor-info {
                display: flex;
                border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
                padding-left: 30px;
                padding-right: 40px;
                padding-bottom: 40px;
                justify-content: space-between;
                @media (max-width: 850px) {
                    padding-right: 15px;
                    
                }
                @media (max-width: 767px) {
                    border-bottom: 0px;
                    padding-left: 20px;
                }
                .img-mask {
                    margin-right: 28px;
                    img {

                    }
                }
                .name-adress {
                    color: #4c4c4c;
                    margin-right: 100px;
                    @media (max-width: 850px) {
                        margin-right: 50px;
                    }
                    @media (max-width: 767px) {
                        margin-right: 0px;
                    }
                    .doctor-name {
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 6px;
                    }
                    .adress {
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: 2px;
                    }
                    .adress-info {
                        font-size: 14px;
                    }
                }
                .price-day {
                    font-size: 20px;
                    font-weight: bold;
                    color: #1094ff;
                    display: flex;
                    @media (max-width: 767px) {
                        display: none;
                        width: 100%;
                        margin-top: 30px;
                    }
                    .price-box {
                        margin-right: 31px;
                        position: relative;
                        &:last-child {
                            margin-right: 0;
                        }
                        .coverage-txt {
                            font-size: 14px;
                            position: absolute;
                            bottom: 0;
                            border-bottom: solid 1.1px #1094ff;
                        }
                        @media (max-width: 767px) {
                            display: flex;
                            justify-content: space-between;
                            p {
                                text-align: center;
                                max-width: 120px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .price-day-mobile{
                font-size: 20px;
                font-weight: bold;
                color: #1094ff;
                padding-left: 29px;
                padding-right: 29px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 50px;
                border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
                @media (min-width: 767px) {
                    display: none;
                }
                .day-box {
                    text-align: center;
                }
                .price-box {
                    margin-right: 20px;
                    position: relative;
                    text-align: center;
                    .coverage-txt {
                        font-size: 14px;
                        position: absolute;
                        bottom: 0;
                        border-bottom: solid 1.1px #1094ff;
                    }
                }
            }
            .box-footer {
                padding-top: 25px;
                @media (max-width: 767px) {
                    padding-top: 35px;
                }
                .patient-info {
                    font-size: 14px;
                    padding-left: 40px;
                    padding-right: 60px;
                    color: #4c4c4c;
                    padding-bottom: 40px;
                    @media (max-width: 767px) {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 33px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                    span {
                        margin-right: 37px;
                        @media (max-width: 850px) {
                            margin-right: 11px;
                            margin-bottom: 15px;
                        }
                        &:last-child {
                            margin-right: 0px;
                            margin-bottom: 0px;
                        }
                    }
                }
                .file-box {
                    color: #4c4c4c;
                    padding-left: 40px;
                    padding-bottom: 60px;
                    @media (max-width: 767px) {
                        padding-left: 20px;
                    }
                    .letter-txt {
                        margin-right: 15px;
                    }
                    .file-label {
                        img {
                            margin-right: 5px;
                        }
                        .file-name {
                            vertical-align: middle;
                            font-size: 14px;
                            font-weight: bold;
                            margin-right: 20px; 
                        }
                    }
                    .preview-btn {
                        display: inline-flex;
                        vertical-align: middle;
                        @media (max-width: 767px) {
                            display: flex;
                            margin-top: 20px;
                            width: 83px;
                            height: 25px;
                        }
                        &:hover {
                            background-color: #4c4c4c;
                            color: #fff;
                            transition: .2s ease;
                        }
                    }
                }
                .btn-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 767px) {
                        flex-direction: column;
                    }
                    a {
                        &:first-child {
                            margin-right: 55px;
                            @media (max-width: 767px) {
                                margin-right: 0px;
                                margin-bottom: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
// MODAL
.change-app-modal {
    max-width: 482px;
    .modal-body {
        color: #4c4c4c;
        padding-top: 30px;
        padding-left: 45px;
        padding-right: 45px;
        .step-txt {
            font-size: 14px;
            padding-bottom: 40px;
        }
        .first-step {
            padding-bottom: 30px;
        }
        .phone-wrap {
            font-size: 18px;
            text-align: center;
            padding-bottom: 30px;
            img {
                width: 28px;
                padding-right: 10px;
            }
            .phone-number {
                padding-right: 40px;
            }
        }
        .second-step {
            padding-bottom: 15px;
        }
    }
    .datetimepicker-wrap {
        justify-content: center;
        color: #4c4c4c;
    }
    .footer-btn {
            display: flex;
            align-items: center;
            padding-bottom: 78px;
            justify-content: center;
            a {
                &:first-child {
                    margin-right: 60px;
                }
            }
    }
}
    .cancel-booking-modal {
        max-width: 578px;
        .modal-body {
            color: #4c4c4c;
            padding-left: 26px;
            padding-right: 26px;
            input {
                &::placeholder {
                    color: #4c4c4c;
                }
            }
            li {
                cursor: pointer;
            }
            .drop-txt {
                font-size: 14px;
                padding-bottom: 20px;
            }
            .drop-wrap {
                padding-bottom: 40px;
            }
            .textarea-txt {
                font-size: 14px;
                padding-bottom: 20px;
            }
            textarea {
                padding: 15px 10px 29px 15px;
                margin-bottom: 40px;
            }
        }
        .footer-btn {
            padding-bottom: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                &:first-child {
                    margin-right: 55px;
                }
                &.full-red {
                    width: 152px;
                }
            }
        }
    }
}