
.sign-section {
    height: 327px;
    background: linear-gradient(#4E75A5, #26416C);
    text-align: center;
}

.testimonials-carousel {
    text-align: center;
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 40%;
        display: flex;
        justify-content: space-between;
    }
    .owl-prev:hover, .owl-next:hover {
        background: #fff !important;
    }
    .owl-avatar-wrap {
        width: 116px;
        height: 116px;
        margin: 0 auto;
        img {
            border-radius: 50%;
            height: 100%;
        }
    }
}