.list-page {
    .list-wrap {
        padding-top: 60px;
        padding-bottom: 80px;
        .back-dashboard {
            padding-bottom: 44px;
            max-width: 1001px;
        }
        .page-name {
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 500;
            color: #4c4c4c;
            text-align: center;
            padding-bottom: 20px;
        }
        .page-info {
            padding-bottom: 40px;
            font-size: 20px;
            text-align: center;
            color: #4c4c4c;
            @media (max-width: 767px) {
                max-width: 305px;
                margin: 0 auto;
            }
        }
        .main-white-box {
            margin: 0 auto;
            @media (max-width: 998px) {
                margin-right: 30px;
                margin-left: 30px;
                width: auto;
            }
            &.h-68 {
                padding-left: 30px;
                padding-right: 30px;
                margin-bottom: 40px;
                @media (max-width: 998px) {
                    height: auto;
                    padding-left: 35px;
                    padding-right: 35px;
                    margin-bottom: 25px;
                }
                .box-body {
                    .switch-wrap {
                        display: flex;
                        @media (max-width: 998px) {
                            flex-direction: row;
                            align-items: center;
                            width: 100%;
                            justify-content: space-between;
                            margin-bottom: 15px;
                        }
                    }
                    @media (max-width: 998px) {
                        flex-direction: column;
                        padding-top: 25px;
                        padding-bottom: 35px;
                    }
                    .select-wrap {
                        @media (max-width: 998px) {
                            width: 100%;
                            .select-drop {
                                max-width: 100%;
                                select {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &.list-item {
                margin-bottom: 20px;
                @media (max-width: 767px) {
                    margin-bottom: 15px;
                }
                .box-body {
                    padding-left: 47px;
                    padding-right: 30px;
                    padding-top: 25px;
                    padding-bottom: 40px;
                    @media (max-width: 998px) {
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 25px;
                        padding-bottom: 25px;
                    }
                    img {
                        margin-right: 47px;
                    }
                    .doctor-info {
                        margin-right: 64px;
                        @media (max-width: 998px) {
                            margin-right: 0px;
                        }
                        span {
                            font-size: 14px;
                            color: #4c4c4c;
                            &:first-child {
                                font-weight: bold;
                                display: inline-block;
                                padding-bottom: 2px;
                            }
                        }
                    }
                    .avg-txt {
                        font-size: 20px;
                        font-weight: bold;
                        color: #1094ff;
                        display: inline-flex;
                        flex-direction: column;
                        margin-right: 95px;
                        @media (max-width: 998px) {
                            display: flex;
                            flex-direction: row;
                            margin-right: 0px;
                            justify-content: space-between;
                            span {
                                text-align: center;
                            }
                        }
                        span {
                            &:first-child {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
                .box-head {
                    display: flex;
                    justify-content: space-between;
                    @media (max-width: 998px) {
                        flex-direction: column;
                        height: auto;
                        align-items: flex-start;
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                    .left-part {
                        span {
                            @media (max-width: 998px) {
                                display: block;
                            }
                        }
                        .insurance-coverage {
                            font-size: 16px;
                            cursor: pointer;
                            font-weight: normal;
                            color: #1094ff;
                            padding-top: 5px;
                            margin-left: 20px;
                            border-bottom: 1.5px solid #1094ff;
                            @media (max-width: 998px) {
                                display: inline-block;
                                margin-left: 0px;
                            }
                        }
                    }
                    .right-part {
                        display: flex;
                        align-items: center;
                        @media (max-width: 998px) {
                            margin-top: 11px;
                        }
                        span {
                            margin-left: 7px;
                            margin-right: 7px;
                            font-size: 18px;
                            color: #0141aa;
                        }
                        .info-wrap {
                            display: flex;
                            position: relative;
                            img {

                            }
                            .info-hover {
                                display: none;
                                width: 149px;
                                position: absolute;
                                height: 56px;
                                border-radius: 1px;
                                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.19);
                                background-color: #ffffff;
                                border: solid 0.5px #4c4c4c;
                            }
                            &:hover {
                                .info-hover {
                                    display: block;
                                    left: -10px;
                                    top: 22px;
                                    span {
                                        font-size: 11px;
                                        color: #4c4c4c;
                                    }
                                }
                            }
                        }
                    }
                    &.gp-list {
                        .step-wrap {
                            align-items: center;
                            display: flex;
                            color: #0141aa;
                            font-weight: normal;
                            font-size: 18px;
                            cursor: pointer;
                            .recom {
                                display: none;
                            }
                            
                            &.click-r {
                                img {
                                    display: none;
                                    &.spok {
                                        display: block;
                                    }
                                }
                                .recom-c {
                                    display: none;
                                }
                                .recom {
                                    display: block;
                                }
                            }
                            span {
                                margin-right: 0px;
                                margin-left: 0px;
                            }
                            img {
                                margin-left: 10px;
                                margin-right: 8px;
                                &.spok {
                                    display: none;
                                }
                            }
                            .line-btn {
                                font-size: 12px;
                                color: #4c4c4c;
                                margin-right: 0px;
                                border: none;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .box-body {
            display: flex;
            align-items: center;
            height: 100%;
            .switch-wrap {
                padding-left: 82px;
                padding-right: 62px;
                .radio-field {
                    margin-top: 0px;
                }
            }
            .left {
                display: flex;
                align-items: center;
            }
            .right {
                display: flex;
                align-items: center;
                @media (max-width: 998px) {
                    flex-direction: column;
                    width: 100%;
                }
                .avg-txt {
                    @media (max-width: 998px) {
                        margin-bottom: 20px;
                    }
                }
            }
            .select-wrap {
                width: 187px;
                &.sort {
                    margin-left: 20px;
                    @media (max-width: 998px) {
                        margin-left: 0px;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
            }
            .gp-txt {
                font-size: 18px;
                padding-right: 10px;
                padding-left: 34px;
                color: #0141aa;
                display: flex;
                align-items: center;            
                @media (max-width: 998px) {
                    padding-left: 0px;
                }
                @media (max-width: 600px) {
                    padding-right: 20px;
                }
            }
            .input-search {
                margin-left: 30px;
                @media (max-width: 998px) {
                    width: 100%;
                    margin-left: 0px;
                    input {
                        width: 100%;
                    }
                }
                input {
                    font-size: 16px;
                    color: #4c4c4c;
                    opacity: 0.5;
                    &::placeholder {
                        color: #4c4c4c;
                        opacity: 0.5;
                    }
                }
                img {
                    width: 22px;
                }
            }
        }
        .pagin-list {
            display: flex;
            justify-content: center;
            padding-top: 60px;
            ul {
                .page-item {
                    font-size: 16px;
                    color: #4c4c4c;
                    width: 29px;
                    height: 29px;
                    border-radius: 1px;
                    background-color: #ffffff;
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                    margin-left: 5px;
                    margin-right: 5px;
                    a {
                        color: #4c4c4c;
                        padding: 7px;
                        border-radius: 0;
                        &:hover {
                            background-color: #0141aa;
                            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                            border-color: transparent;
                            color: #fff;
                        }
                    }
                    &:first-child {
                        width: auto;
                    }
                    &:last-child {
                        width: auto;
                    }
                }
            }
        }
    }
}