.p-log-in {
    padding: 70px 0px 80px 0px;
    color: #4c4c4c;
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #fefefe;
    background: -moz-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f6f6f6 50%, #f2f2f2 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .page-name {
        font-size: 40px;
        font-weight: 500;
        padding-bottom: 20px;
        line-height: normal;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .page-info {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        text-align: center;
        color: #4c4c4c;
        padding-bottom: 60px;
    }
}