.close:focus {
  outline: none;
  box-shadow: none;
}

.menege-send .table-wrap .box-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .search-wrap {
    position: relative;
    max-width: 190px;
    .search {
      width: 189px;
      height: 40px;
      border-radius: 20px;
      background-color: #ffffff;
      border: solid 0.5px #4c4c4c;
      opacity: 0.5;
      font-family: Lato;
      font-size: 16px;
      color: #4c4c4c;
    }
    .btn-search {
      width: 22px;
      height: 22px;
      background: transparent;
      position: absolute;
      top: 10px;
      right: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      img {
        width: 22px;
        height: 22px;
        max-width: 22px;
        position: relative;
        top: -8px;
        left: -10px;
      }
    }
  }
}

.menege-send .main-white-box .box-head {
  margin-right: 40px;
}

.menege-send .back-dashboard {
  max-width: 987px;
}

.appointments-page .menege-send .app-table tr th {
  padding-bottom: 0 !important;
}

.appointments-page .menege-send .app-table tbody tr {
  position: relative;
  border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
}

.appointments-page .menege-send .main-white-box .box-body .app-table table tbody td {
  padding: 25px 0 25px 0;
}

.appointments-page .menege-send .main-white-box .box-body .app-table table tbody td.center {
  text-align: center;
}

.appointments-page .menege-send .main-white-box .box-body .app-table table tbody td:first-child,
.menege-send .app-table tr th:first-child {
  padding-left: 40px;
}

.appointments-page .menege-send .main-white-box .box-body {
  padding: 30px 0 0 0;
  @media (max-width: 767px) {
    padding-right: 15px;
    padding-left: 5px;
  }
}

.app-table .btn-send {
  font-family: Lato;
  font-size: 14px;
  line-height: 10px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  width: 83px;
  height: 25px;
  border-radius: 2px;
  background-color: #77d40d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.app-table .btn-cancel {
  width: 83px;
  height: 25px;
  border-radius: 2px;
  background-color: #d0021b;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  font-family: Lato;
  font-size: 14px;
  line-height: 10px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.app-table .btn-download {
  font-family: Lato;
  font-size: 14px;
  line-height: 10px;
  font-weight: bold;
  text-align: center;
  color: #4c4c4c;
  width: 211px;
  height: 25px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border: solid 0.2px #979797;
}

.close span {
  font-size: 31px;
}

.send-referral {
  max-width: 786px;
  min-height: 460px;
}

.send-referral .radio-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 170px;
}

.send-referral p {
  padding-bottom: 20px;
}

.control-file {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  input {
    display: none;
  }
  .preview-btn {

  }
  img {
    margin: 0 5px 0 10px;
  }
}

.radio-wrap .control input:checked ~ .control__indicator {
  border: 5px solid #26416c;
}

.send-referral .modal-footer {
  .btn-secondary {
    max-width: 194px;
  }
}

.introjs-tooltipbuttons {
  justify-content: space-between;
}

.introjs-tooltip .introjs-tooltipbuttons .introjs-nextbutton,
.introjs-tooltip .introjs-tooltipbuttons .introjs-donebutton {
  width: 126px;
  height: 37.5px;
  padding: 0;
  border-radius: 18.8px;
  background-color: #0141aa;
  font-family: Lato;
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  margin-right: 27px;
}

.introjs-tooltip .introjs-tooltipbuttons .introjs-donebutton {
  text-decoration: none;
}

.introjs-showElement {
  position: relative;
  z-index: 99999999 !important;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    background: transparent;

  }
}

.introjs-tooltiptext {
  ul {
    margin: 10px 0;
    span {
      display: block;
      text-align: center;
    }
    li {
      padding-left: 40px;
      position: relative;
      margin-bottom: 10px;
      &:before {
        content: '•';
        font-size: 15px;
        position: absolute;
        left: 15px;
        top: 1px;
        display: block;
      }
    }
  }

}

.introjs-tooltipbuttons .introjs-skipbutton {
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #1094ff;
}

@media (max-width: 992px) {
  .send-referral {
    max-width: 90%;
    margin: 10px auto;
    height: auto;
    padding-bottom: 0;
  }
  .send-referral .modal-footer {
    padding-bottom: 20px;
  }
  .send-referral .radio-field {
    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .appointments-page .menege-send .main-white-box .box-body .app-table table tbody .btn-wrap {
    &:before {
      border: 1px solid red;
    }
  }
  .appointments-page .menege-send .app-table tbody tr {
    border-bottom: 1px solid transparent;
  }
  .appointments-page .menege-send .app-table tbody tr.btn-wrap {
    border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
  }
  .appointments-page .menege-send tr.btn-wrap td .btn-send {
    //margin-left: 30px;
  }
  .appointments-page .menege-send .main-white-box .box-body .app-table table tbody .btn-wrap td {
    padding: 0;
  }
  .menege-send .table-wrap .box-head .search-wrap .search {
    width: 142px;
    height: 30px;
  }
  .menege-send .table-wrap .box-head .search-wrap .btn-search img {
    width: 17px;
    height: 17px;
    top: -13px;
    left: -16px;
  }
  .menege-send .main-white-box .box-head {
    margin-right: 0;
  }
  .menege-send .app-table tr th:first-child,
  .appointments-page .menege-send .main-white-box .box-body .app-table table tbody td:first-child {
    padding-left: 20px;
  }
  .menege-send .app-table .btn-download {
    margin: 10px auto 35px auto;
  }
  .menege-send .app-table .btn {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .btn-wrap {
    display: none;
  }
}

@media (min-width: 400px) {
  .appointments-page .appointments .table-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }
}
