.quick-regeralGP {
    .quick-regeralGP-wrap {
        padding-top: 60px;
        padding-bottom: 82px;
        @media (max-width: 767px) {
            padding-left: 30px;
            padding-right: 30px;
        }
        .main-white-box {
            margin: 0 auto;
            .form-section {
                padding-top: 50px;
                padding-bottom: 60px;
            }
            .select-wrap {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                @media (max-width: 777px) {
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;
                }
                span { 
                    margin-right: 25px;
                    margin-bottom: 0px;
                    max-width: 210px;
                    width: 100%;
                    text-align: right;
                    @media (max-width: 777px) {
                        text-align: left;
                        margin-bottom: 10px;
                        padding-top: 1px;
                    }
                } 
            }
            .box-name {
                font-size: 16px;
                color: #4c4c4c;
                padding-bottom: 50px;
                padding-top: 30px;
            }
            .box-body {
                padding-left: 40px;
                padding-right: 40px;
                p {
                    color: #4c4c4c;
                    font-size: 16px;
                }
                .radio-section {
                    color: #4c4c4c;
                    margin-top: 60px;
                    .radio-field {
                        justify-content: center;
                        flex-direction: column;
                        padding-left: 150px;
                        @media (max-width: 777px) {
                            padding-left: 0px;
                            justify-content: flex-start;
                            align-items: flex-start;
                        }
                        .control {
                            max-width: 440px;
                            width: 100%;
                        }
                    }
                }
                .full-green {
                    margin: 0 auto;
                }
                padding-bottom: 77px;
                .attach-wrap {
                    display: flex;
                    width: 100%;
                    padding-left: 80px;
                    margin-top: -10px;
                    margin-bottom: 20px;
                    @media (max-width: 777px) {
                        padding-left: 0px;
                    }
                    .upload-btn {
                        margin-right: 10px;
                        @media (max-width: 777px) {
                            margin: 0;
                            width: 83px;
                            height: 25px;
                        }
                    }
                    .item {
                        margin-right: 5px;
                        @media (max-width: 777px) {
                            display: flex;
                            align-items: center;
                            margin-left: 15px;
                        }
                    }
                }
                &.gp-recommendation {
                    .radio-section {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}