.shedule-modal {
    max-width: 482px;
    .modal-header {
        font-size: 20px;
        font-weight: bold;
        color: #4c4c4c;
    }
    .modal-body {
        padding-top: 25px;
        padding-bottom: 30px;
        .radio-wrap {
            .radio-field {
                flex-direction: column;
                margin-top: 0px;
            }
            .other-txt {
                padding-right: 108px;
                margin-bottom: 50px;
            }
            .control {
                margin-bottom: 20px;
            }
        }
    }
    .footer-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        a {
            &:first-child {
                margin-right: 60px;
            }
        }
    }
    .modal-number-txt {
        font-size: 14px;
        color: #4c4c4c;
        text-align: center;
        padding-bottom: 30px;
    }
}

.shedule-page {
    .box-footer {
        text-align: center;
        .blue-big-btn {
            margin: 0 auto;
        }
    }
    .btn-txt {
        padding-top: 5px;
        font-size: 14px;
        color: #4c4c4c;
        padding-bottom: 16px;
    }
    .or-txt {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}