.terms-dialog {
  max-width: 484px;
  font-family: 'Lato', sans-serif;
  @media (max-width: 576px) {
    margin: 0;
    max-width: 100%;
    height: 100%;
  }
  .modal-content {
    border-radius: 0px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border: none;
    @media (max-width: 576px) {
      height: 100%;
      height: auto;
    }
  }
  .modal-header {
    padding: 1.27rem;
    padding-left: 30px;
    border-bottom: solid 1px rgba(76, 76, 76, 0.15);
    @media (max-width: 500px) {
      padding: 3rem;
    }
    h5 {
      font-size: 20px;
      font-weight: bold;
      color: #4c4c4c;
      @media (max-width: 500px) {
        margin: 0 auto;
      }
    }
    .close {
      @media (max-width: 500px) {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }
  }
  .modal-body {
    padding-top: 30px;
    padding-left: 46px;
    padding-right: 43px;
    padding-bottom: 0px;
    @media (max-width: 500px) {
      padding-right: 25px;
    }
    ul {
      li {
        padding-left: 7px;
        display: list-item;
        list-style-type: disc;
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: normal;
        color: #4c4c4c;
        @media (max-width: 463px) {
          margin-bottom: 0px;
        }
        &:last-child {
          margin-bottom: 38px;
        }
      }
    }
  }
  .modal-footer {
    border-top: 0px;
    padding: 0px;
    text-align: center;
    padding-bottom: 25px;
    .btn {
      margin: 0 auto;
      max-width: 131px;
      width: 100%;
      border: none;
      height: 38px;
      border-radius: 19px;
      background-color: #77d40d;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
      font-size: 16px;
      color: #fdfdfd;
    }
  }
}

.p-sign-up {
  padding: 70px 0px 80px 0px;
  color: #4c4c4c;
  height: auto;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #fefefe;
  background: -moz-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f6f6f6 50%, #f2f2f2 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f1f1f1', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  .page-name {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    line-height: normal;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }
  .page-info {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #4c4c4c;
    padding-bottom: 60px;
    @media (max-width: 767px) {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 50px;
    }
  }
  .main-box {
    max-width: 993px;
    padding: 50px 125px 60px 125px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    @media (max-width: 998px) {
      padding: 50px 80px 60px 80px;
      margin-left: 30px;
      margin-right: 30px;
    }
    @media (max-width: 888px) {
      padding: 50px 40px 60px 40px;
    }
    @media (max-width: 767px) {
      padding: 50px 37px 60px 37px;
    }
    .logo-wrap {
      margin: 0 auto;
      margin-bottom: 65px;
      width: 100%;
      max-width: 184px;
      height: 68px;
      @media (max-width: 767px) {
        margin-bottom: 37px;
      }
    }
    .form-section {
      max-width: 743px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
      .select-wrap {
        @media (max-width: 767px) {
          margin-bottom: 20px;
          .select-drop {
            max-width: 100%;
            select {
              max-width: 100%;
            }
          }
        }
      }
      .left {
        display: inline-block;
        max-width: 280px;
        margin-right: 179px;
        width: 100%;
        @media (max-width: 998px) {
          margin-right: 100px;
        }
        @media (max-width: 888px) {
          margin-right: 50px;
        }
        @media (max-width: 767px) {
          display: block;
          margin-right: 0px;
          max-width: 100%;
        }
        input {
          @media (max-width: 767px) {
            max-width: 100%;
          }
        }
      }
      .right {
        display: inline-block;
        max-width: 280px;
        width: 100%;
        @media (max-width: 767px) {
          display: block;
          max-width: 100%;
        }
        input {
          @media (max-width: 767px) {
            max-width: 100%;
          }
        }
        .mb-30 {
          @media (max-width: 767px) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .login-detailed {
      margin-bottom: 35px;
      .name {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        line-height: normal;
        color: #0141aa;
      }
      .lg {
        @media (max-width: 767px) {
          max-width: 100%;
        }
      }
      .check-wrap {
        @media (max-width: 767px) {
          margin-top: 40px;
        }
      }
    }
    .sub-sign-footer {
      .complete-btn {
        max-width: 250px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 22px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        font-family: 'Lato', sans-serif;
        text-align: center;
        color: #fdfdfd;
        height: 42px;
        border-radius: 19px;
        background-color: #77d40d;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
      }
      .log-in-txt {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #4c4c4c;
        .log-in {
          color: #1094ff;
          text-decoration: underline;
        }
      }
      &.gp-patient {
        display: flex;
        justify-content: center;
        align-items: center;
        .complete-btn {
          margin: 0;
          margin-left: 56px;
        }
      }
    }
  }
  .sign-footer {
    padding-top: 50px;
    @media (max-width: 767px) {
      padding-top: 40px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      @media (max-width: 767px) {
        font-size: 14px;
      }
      li {
        margin-right: 40px;
        @media (max-width: 767px) {
          margin-right: 18px;
        }
        &:last-child {
          margin-right: 0px;
        }
        a {
          color: #1094ff;
        }
      }
    }
  }
}

