.p-sign-up-gp {
  @media (max-width: 998px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .login-detailed {
    max-width: 437px;
    margin: 0 auto;
    &.p-detailer {
      .drop-wrap {
        max-width: 100%;
        margin-bottom: 220px;
        .mb-10 {
          display: block;
          font-size: 16px;
        }
        input {
          max-width: 100%;
          border: solid 1px #4c4c4c;
          &::placeholder {
            color: #4c4c4c;
            font-size: 14px;
          }
        }
        &:after {
          display: none;
        }
      }
      .menu-drop {
        ul {
          z-index: 20;
          position: relative;
          li {
            height: 56px;
            padding-left: 21px;
            padding-right: 31px;
            align-items: flex-start;
            padding-top: 10px;
            justify-content: space-between;
            @media (max-width: 600px) {
                flex-direction: column;
                height: 76px;
            }
            .left-part {
              display: flex;
              align-items: center;
              .info {
                display: flex;
                flex-direction: column;
                margin-left: 13px;
              }
            }
            .right-part {
                @media (max-width: 600px) {
                    padding-bottom: 10px;
                    display: flex;
                    align-self: flex-end;
                }
            }
          }
        }
      }
    }
    &.sign-up-box {
        padding-left: 30px;
        padding-right: 30px;
        .btn-search {
            @media (max-width: 600px) {
                width: 93px;
            }
        }
        .search-wrap {
            .search {
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
  }
  .search-wrap {
    display: flex;
    flex-direction: row;
  }
  .search {
    width: calc(100% - 126px);
    height: 33px;
  }
  .btn-search {
    width: 126px;
    height: 37px;
    border-radius: 1px;
    background-color: #0141aa;
    font-family: Lato;
    font-size: 16px;
    color: #ffffff;
  }
  .address-detail {
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    color: #0141aa;
  }
  .btn-address {
    width: 90px;
    height: 35px;
    border-radius: 19px;
    background-color: #ffffff;
    border: solid 1px #26416c;
    flex: none;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #002855;
  }
  .button-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .radio-top {
    .radio-field {
      flex-direction: column;
      max-width: 437px;
      margin: 0 auto;
      align-items: flex-start;
      .first-check {
        width: 268px;
        max-width: 268px;
      }
    }
  }
  .main-box {
    padding: 0px;
    padding-bottom: 60px;
    max-width: 786px;
    margin: 0 auto;
    &.enter-patient {
      @media (max-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      .radio-top {
        padding-top: 40px;
        padding-bottom: 15px;
        border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
        margin-bottom: 40px;
      }
    }
    &.top-sign-up {
        padding-top: 40px;
    }
  }
}

@media (max-width: 480px) {
  .p-sign-up-gp .search {
    width: auto;
  }
  .p-sign-up-gp .btn-search {
    width: 100%;
  }
  .p-sign-up-gp .button-wrap {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .p-sign-up .sign-footer ul {
    flex-direction: column;
  }
  .p-sign-up .sign-footer ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .p-sign-up .main-box {
    padding: 50px 10px 60px 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
}