// DASHBOARD PAGE
.sp-dashboard {
  .boxes-wrap {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0px !important;
    .left-part {
      .profile {
        .mobile-wrap {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
    .right-part {
      @media (min-width: 998px) and (max-width: 1070px) {
        width: 730px;
      }
      .appointmen-box {
        width: 870px;
        @media (max-width: 1130px) {
          width: 100%;
        }
        @media (max-width: 1070px) {

        }
      }
      .sp-letter-box {
        width: 271px !important;
        @media (max-width: 998px) {
          width: 100% !important;
          margin-bottom: 30px;
        }
      }
      .sp-pp-box {
        width: 271px;
      }
      .double-box {
        .sp-pp-box {
          width: 271px;
          @media (max-width: 998px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.sp-awaiting-p {
  .main-white-box {
    padding-bottom: 62px;
    .box-body {
      padding-bottom: 0px !important;
      padding-left: 26px;
      padding-right: 26px;
    }
    .blue-txt {
      font-size: 20px;
      font-weight: bold;
      padding-top: 30px;
      padding-bottom: 30px;
      color: #0141aa;
    }
    .awaiting-title {
      font-size: 18px;
      color: #4c4c4c;
      font-weight: normal;
      padding-bottom: 20px;
    }
    .awaiting-info {
      max-width: 518px;
      font-size: 14px;
      margin: 0 auto;
      padding-bottom: 50px;
      color: #4c4c4c;
    }
  }
}

.sp-app-page {
  .app-view-box {
    margin-bottom: 15px;
    .main-white-box {
      padding-left: 30px;
      padding-right: 30px;
      height: 73px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .select-wrap {
        width: 187px;
      }
      .select-drop {
        max-width: 187px;
      }
      .view-switch {
        ul {
          font-size: 16px;
          display: flex;
          li {
            &:first-child{
              margin-right: 7px;
              padding-right: 7px;
              border-right: solid 1.4px rgba(76, 76, 76, 0.7);
            }
            a {
              color: #4c4c4c;
            }
            &.active {
              a {
                color: #1094ff;
                border-bottom: 1px solid #1094ff;
                padding-bottom: 2px;
              }
            }
          }
        }
      }
    }
  }
}

.sp-edit {
  .profile-tabs {
    ul {
      li {
        &:nth-child(2) {
          margin-right: 40px;
        }
      }
    }
  }
}

.sp-step2 {
  .new-clinic {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    span {
      margin-left: 11px;
      font-size: 18px;
      color: #1094ff;
    }
  }
}

.sp-individual-app {
    .patient-inf-sp {
      display: flex;
      border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
      margin-bottom: 35px;
      @media (max-width: 660px) {
        flex-direction: column;
      }
      .sp-patient-info {
        flex-direction: column;
        display: flex;
          span {
            margin-bottom: 20px;
          }
          
        }
    }
}

.sp-new-referral {
  .w-987 {
    max-width: 1111px;
  }
}

.sp-manage-listing {
  .box-head {
    padding-left: 48px;
  }
  .box-body {
    .full-green {
      margin: 0 auto;
    }
    .clinic-drop {
      padding-left: 48px;
      padding-top: 10px;
      border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    .manage-doctor {
      padding-left: 48px;
      display: flex;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
      }
      .photo-section {
        .photo {
          width: 120px;
          height: 130px;
          border: 1px solid #eaeaea;
        }
      }
      .upolad-photo {
        margin-left: 22px;
        padding-top: 34px;
        .upload-btn {
          margin-bottom: 13px;
        }
        .info-txt {
          font-size: 14px;
          color: #4c4c4c;
          display: inline-block;
          margin-bottom: 10px;
        }
        .file {
          margin-left: 7px;
          font-size: 14px;
          color: #4c4c4c;
        }
      }
    }
    .price-section {
      padding-left: 48px;
      margin-bottom: 30px;
      .consult-price {
        p {
          font-size: 14px;
          padding-bottom: 20px;
          color: #4c4c4c;
        }
        .input-wrap {
          flex-direction: row;
          input {
            width: 60px;
          }
        }
        .price-inp {
          display: flex;
          align-items: center;
          &.mobile {

          }
          .eur-inp {
            color: #4c4c4c;
            font-size: 14px;
            @media (max-width: 767px) {
              display: none;
            }
            &.mobile-inp {
              display: none;
              @media (max-width: 767px) {
                display: block;
                input {
                  width: 120px;
                }
                span {
                  display: none;
                }
              }
            }
          }
          .to {
            margin-left: 20px;
            margin-right: 20px;
            color: #4c4c4c;
            padding-top: 20px;
            font-size: 14px;
            @media (max-width: 767px) {
              display: none;
            }
          }
          .eur {
            width: 37px;
            height: 37px;
            font-size: 18px;
            color: #4c4c4c;
            border-radius: 1px;
            background-color: #d8d8d8;
            border: solid 1px #4c4c4c;
            border-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .time-section {
      padding-left: 48px;
      p {
        color: #4c4c4c;
        margin-bottom: 8px;
        font-size: 14px;
      }
      .wait-line {
        display: flex;
        
        .input-wrap {
          max-width: 53px;
          margin-right: 15px;
        }
        .select-wrap {
          max-width: 128px;
          width: 100%;
        }
      }
    }
    .drop-section {
      padding-left: 48px;
      padding-top: 30px;
      padding-bottom: 48px;
    }
    .check-section {
      padding-left: 48px;
      .radio-wrap {
        p {
          font-size: 16px;
          color: #4c4c4c;
          margin-bottom: 20px;
        }
      }
      .radio-field {
        flex-direction: column;
        align-items: flex-start;
        .only-mobile {
          display: none;
          @media (max-width: 767px) {
            display: block;
          }
        }
      }
    }
  }
}

.clinic-d {
  .info-clinic {
    padding-left: 49px;
    color: #0141aa;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .add-btn {
    padding-left: 48px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    span {
      font-size: 18px;
      color: #1094ff;
    }
  }
  .information-box {
    padding-left: 49px;
    border-bottom: 1px solid #dee2e6;
    padding-right: 77px;
    padding-bottom: 15px;
    position: relative;
    .item {
      .name {
        font-size: 16px;
        margin-bottom: 7px;
        color: #4c4c4c;
      }
      .info {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: bold;
        color: #4c4c4c;
      }
    }
    .edit-btns {
      position: absolute;
      top: 6px;
      right: 0;
      padding-right: 77px;
      @media (max-width: 767px) {
        display: none;
      }
      span {
        cursor: pointer;
        &.active {
          color: #1094ff;
          border-bottom: 1px solid#1094ff;
        }
      }
    }
  }
  &.profile-simple {
    .information-box {
      border-bottom: none;
    }
  }
}

.calendar-page {
  .btn-calandar-wrap {
    font-weight: normal;
  }
  select {
    font-weight: normal;
  }
  .fc-unthemed td.fc-today {
    background: #FDEFD7;
  }
  .fc-event, .fc-event-dot {
    background: #0141AA;
  }
  .fc-title {
    color: #fff;
  }
  .fc-time {
    color: #fff;
  }
}
