.star-feedback-page {
    .leave-feedback {
        padding-bottom: 85px;
        padding-top: 60px;
        @media (max-width: 830px) {
            padding-left: 30px;
            padding-right: 30px;
        }
        .main-white-box {
            margin: 0 auto;
            @media (max-width: 830px) {
                margin-left: 30px;
                margin-right: 30px;
                margin: 0;
            }
            .box-body {
                padding-left: 45px;
                padding-top: 40px;
                padding-right: 45px;
                padding-bottom: 78px;
                @media (max-width: 767px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .wait-line {
                    padding-bottom: 30px;
                    display: flex;
                    .select-wrap {
                        width: 128px;
                    }
                }
                .select-txt {
                    font-size: 14px;
                    padding-bottom: 20px;
                    color: #4c4c4c;
                    &.for-star {
                        padding-bottom: 5px;
                    }
                }
                .input-wrap {
                    flex-direction: row;
                }
                .small-input {
                    max-width: 53px;
                    padding-left: 7px;
                    padding-right: 7px;
                    margin-right: 15px;
                    text-align: center;
                    &.label-eur {
                        margin-right: 0px;
                        padding-left: 17px;
                        text-align: left;
                    }
                }
                .eur {
                    width: 37px;
                    height: 37px;
                    font-size: 18px;
                    color: #4c4c4c;
                    border-radius: 1px;
                    background-color: #d8d8d8;
                    border: solid 1px #4c4c4c;
                    border-left: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .select-drop {
                    max-width: 128px;
                    select {
                        max-width: 128px;
                    }
                }
                .rating-row {
                    padding-bottom: 10px;
                }
                textarea {
                    padding-left: 10px;
                    padding-top: 15px;
                    padding-right: 43px;
                    padding-bottom: 35px;
                    margin-bottom: 60px;
                }
                .rounded-btn {
                    margin: 0 auto;
                }
            }
        }
    }
}