.step-page {
    .step-wrap {
        padding-top: 60px;
        padding-bottom: 60px;
        @media (max-width: 998px) {
            padding-left: 30px;
            padding-right: 30px;
        }
        .main-white-box {
            margin: 0 auto;
             margin-bottom: 80px;
            .box-head {
                justify-content: space-between;
                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .flex {
                    display: flex;
                }
            }
            .box-body {
                padding: 22px 40px 80px 40px;
                .title {
                    font-size: 16px;
                    color: #4c4c4c;
                    padding-bottom: 40px;
                }
                .full-grey {
                    margin: 0 auto;
                }
                &.table-wrap {
                    .table-info {
                        background-color: transparent;
                        color: #4c4c4c;
                        display: flex;
                        .history-items {
                            display: flex;
                            flex-direction: column;                        
                            .item {
                                max-width: 140px;
                                margin-right: 30px;
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                                margin-bottom: 30px;
                                display: inline-block;
                            }
                        }
                        .name-items {
                            font-size: 16px;
                            .item {
                                width: 100%;
                                margin-right: 40px;
                                margin-bottom: 30px;
                                img {
                                    margin-right: 5px;
                                }
                            }
                        }
                        .date-items {
                            font-size: 16px;
                            .item {
                                margin-bottom: 30px;
                                span {
                                    margin-left: 48px;
                                    cursor: pointer;
                                }
                            }
                        }
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }
                    .table-mobile {
                        display: none;
                        .item-wrap {
                            max-width: 180px;
                            text-align: left;
                            margin: 0 auto;
                            color: #4c4c4c;
                            margin-bottom: 40px;
                            p {
                                margin-bottom: 20px;
                                font-size: 16px;
                                img {
                                    margin-right: 10px;
                                }
                                &:first-child {
                                    font-size: 18px;
                                    font-weight: bold;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        @media (max-width: 767px) {
                            display: block;
                        }
                    }
                }
                .update-step-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 80px;
                    @media (max-width: 767px) {
                        flex-direction: column;
                    }
                    .point {
                        background-image: url(../img/pointgrey.png);
                        background-size: contain;
                        width: 50px;
                        height: 10px;
                        background-repeat: no-repeat;
                        &.blue {
                            background-image: url(../img/pointblue.png);
                        }
                        @media (max-width: 767px) {
                            transform: rotate(90deg);
                            margin-top: 10px;
                            margin-bottom: 40px;
                        }
                    }
                    .step {
                        width: 72px;
                        height: 72px;
                        text-align: center;
                        position: relative;
                        p {
                            width: 100%;
                            position: absolute;
                            bottom: -50px;
                            font-size: 16px;
                            color: #4c4c4c;
                            &.blue {
                                color: #0141aa;
                            }
                        }
                        @media (max-width: 767px) {
                            margin-bottom: 80px;
                        }
                    }
                    .step1 {
                        background-image: url(../img/step1g.png);
                        background-size: contain;
                        &.blue {
                            background-image: url(../img/step1b.png);
                            background-size: contain;
                        }
                        p {
                            bottom: -30px;
                        }
                    }
                    .step2 {
                        background-image: url(../img/step2g.png);
                        background-size: contain;
                        &.blue {
                            background-image: url(../img/step2b.png);
                            background-size: contain;
                        }
                    }
                    .step3 {
                        background-image: url(../img/step3g.png);
                        background-size: contain;
                        &.blue {
                            background-image: url(../img/step3b.png);
                            background-size: contain;
                        }
                    } 
                    .step4 {
                        background-image: url(../img/step4g.png);
                        background-size: contain;
                        &.blue {
                            background-image: url(../img/step4b.png);
                            background-size: contain;
                        } 
                    }
                    .step5 {
                        background-image: url(../img/step5g.png);
                        background-size: contain;
                        &.blue {
                            background-image: url(../img/step5b.png);
                            background-size: contain;
                        }
                        p {
                            bottom: -30px;
                        }
                    }
                }
            }
        }
    }
}