.upload-paper-page {
    .upload-paper {
        padding-top: 60px;
        padding-bottom: 80px;
        .main-white-box {
            margin: 0 auto;
            @media (max-width: 998px) {
                margin-left: 30px;
                margin-right: 30px;
                width: auto;
            }
        }

        .box-body {
            padding-top: 24px;
            padding-bottom: 80px;
            padding-left: 45px;
            padding-right: 40px;
            @media (max-width: 767px) {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 60px;
            }
            .title {
                font-size: 16px;
                color: #4c4c4c;
                padding-bottom: 45px;
                @media (max-width: 767px) {
                    padding-bottom: 40px;
                }
            }
            .upload-wrap {
                margin-bottom: 40px;
                p {
                    margin-bottom: 20px;
                    font-size: 14px;
                    color: #4c4c4c;
                }
            }
            .select-wrap {
                @media (max-width: 767px) {
                    max-width: 280px;
                }
                span {
                    margin-bottom: 20px;
                    font-size: 14px;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
                .select-drop {
                    @media (max-width: 767px) {
                        max-width: 280px;
                    }
                    select {
                        @media (max-width: 767px) {
                            max-width: 280px;
                        }
                    }
                }
            }
            .standart-btn {
                margin-top: 60px;
            }
        }
    }
}