.line-bg {
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #fefefe;
    background: -moz-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f6f6f6 50%, #f2f2f2 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f6f6f6 50%, #f2f2f2 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main-white-box {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    width: 100%;
    &.w-786 {
        max-width: 786px;
    }
    &.w-1001 {
        max-width: 1001px;
    }
    &.h-68 { 
        height: 68px;
    }
    &.w-869 {
        max-width: 869px;
    }
    &.w-987 {
        max-width: 987px;
    }
    .box-head {
        height: 64px;
        border-bottom: solid 0.3px rgba(76, 76, 76, 0.15);
        display: flex;
        align-items: center;
        padding-left: 40px;
        font-family: Lato;
        font-size: 20px;
        font-weight: bold;
        padding-right: 20px;
        color: #4c4c4c;
        @media (max-width: 767px) {
            padding-left: 20px;
        }
        .red {
            color: #D0021B;
        }
    }
}

.header-main {
    height: 150px;
    background-color: #fff; 
    display: flex;
    padding: 0px 70px;
    justify-content: space-between;
    align-items: center;
    .h-menu {
        display: flex;
        align-items: center;
        li {
            margin-right: 45px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                font-weight: bold;
                line-height: normal;
                color: #4c4c4c;
            }
            &.n-bell {
                position: relative;
                cursor: pointer;
                .dot {
                    width: 8px;
                    height: 8px;
                    top: 0;
                    right: 0;
                    position: absolute;
                    border-radius: 50%;
                    background-color: #0141aa;
                    border: solid 1px #ffffff;
                }
                .drop-notif {
                    display: none;
                    font-family: 'Lato', sans-serif;
                    width: 241px;
                    left: -202px;
                    top: 45px;
                    position: absolute;
                    border-radius: 0.8px;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                    background-color: #ffffff;
                    border: solid 0.1px #979797;
                    padding-bottom: 5px;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        margin-left: -20px;
                        top: 0;
                        left: 100%;
                        box-sizing: border-box;
                        border: 6px solid black;
                        border-color: transparent transparent #ffffff #ffffff;
                        transform-origin: 0 0;
                        transform: rotate(135deg);
                        box-shadow: -1px 1px 0.5px 0px rgba(0, 0, 0, 0.06);
                        right: 0;
                    }
                    &.opened {
                        display: block;
                        z-index: 10;
                    }
                    .drop-head {
                        p {
                            padding-top: 11px;
                            padding-bottom: 11px;
                            text-align: center;
                            font-size: 12px;
                            color: #4c4c4c;
                        }
                    }
                    .drop-body {
                        .n-item {
                            padding-left: 21px;
                            padding-top: 7px;
                            padding-bottom: 5px;
                            p {
                                max-width: 210px;
                                font-size: 12px;
                                text-align: left;
                                color: #4c4c4c;
                            }
                            .time {
                                opacity: 0.56;
                                font-family: Lato;
                                font-size: 8px;
                                text-transform: uppercase;
                                margin-top: 7px;
                                text-align: left;
                                color: #4c4c4c;
                            }
                            &.not-read {
                                position: relative;
                                background-color: rgba(60, 149, 247, 0.08);
                                .n-dot {
                                    width: 5.3px;
                                    height: 5.3px;
                                    left: 10px;
                                    top: 13px;
                                    background-color: #0141aa;
                                    border-radius: 50%;
                                    position: absolute;
                                }
                            }
                        }
                    }
                }
            }
            .h-avatar-drop {
                position: relative;
                cursor: pointer;
                .ava {
                    width: 51px;
                    height: 51px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        margin-left: 5px;
                        color: #4a4a4a;
                    }
                }
                .drop-ava-menu {
                    display: none;
                    left: -98px;
                    top: 65px;
                    position: absolute;
                    width: 180px;
                    background-color: red;
                    border-radius: 0.8px;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                    background-color: #ffffff;
                    border: solid 0.3px #979797;
                    padding-bottom: 5px;
                    ul {
                        padding-top: 17px;
                        padding-bottom: 8px;
                        li {
                            margin-bottom: 10px;
                            padding: 4px 0px;
                            margin-right: 0px;
                           
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            a {
                                width: 100%;
                                display: block;
                                height: 25px;
                                font-weight: normal;
                                padding-left: 20px;
                            }
                            &:hover {
                                background-color: #f2f2f2;
                            }
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        margin-left: -20px;
                        top: 0;
                        left: 100%;
                        box-sizing: border-box;
                        border: 6px solid black;
                        border-color: transparent transparent #ffffff #ffffff;
                        transform-origin: 0 0;
                        transform: rotate(135deg);
                        box-shadow: -1px 1px 0.5px 0px rgba(0, 0, 0, 0.06);
                        right: 0;
                    }
                    &.opened {
                        display: block;
                        z-index: 10;
                    }
                }
            }
        }
        @media (max-width: 998px) {
            display: none;
        }
    }
    .mobile-burger {
        display: none;
        @media (max-width: 998px) {
            display: block;
        }
    }
    .mobile-right-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 50;
        height: 100vh;
        width: 245px;
        background-color: #fff;
        background: linear-gradient(#4E75A5, #26416C);
        transition: transform 0.3s ease-in-out;
        transform: translate3d(100%, 0, 0);
        &.opened {
            display: block;
            transform: translate3d(0, 0, 0);
        }
        .menu-head {
            display: flex;
            padding-top: 25px;
            padding-left: 40px;
            padding-right: 30px;
            padding-bottom: 75px;
            justify-content: space-between;
        }
        .menu-body {
            ul {
                li {
                    padding-left: 40px;
                    margin-bottom: 30px;
                    a {
                        font-size: 20px;
                        font-weight: bold;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

footer {
    padding: 70px;
    .top-footer-section {
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
        .logo-contact {
            .f-logo {
                margin-bottom: 50px;
            }
            .contact-row {
                display: flex;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0px;
                }
                p {
                    font-size: 16px;
                    color: #4c4c4c;
                }
                img {
                    margin-right: 20px;
                }   
            }
        }
        .f-menu {
            display: flex;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
            }
            ul {
                padding-top: 17px;
                @media (max-width: 767px) {
                    text-align: center;
                }
                li {
                    margin-bottom: 25px;
                    a {
                        font-size: 16px;
                        font-weight: bold;
                        color: #4c4c4c;
                    }
                }
                &:first-child {
                    margin-right: 87px;
                    @media (max-width: 767px) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .social-section {
        margin-top: 70px;
        .social-icons {
            text-align: center;
            a {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        .reserved-rights {
            margin-top: 25px;
            font-size: 14px;
            text-align: center;
            color: #a5a5a5;
        }
    }
}

.complete-booking-label {
    width: 100%;
    height: 59px;
    background-color: #3c95f7;
    padding-left: 70px;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    @media (max-width: 767px) {
        flex-direction: column;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    img {
        margin-right: 10px;
    }
    p {
        font-size: 16px;
        color: #ffffff;
        margin-right: 15px;
        @media (max-width: 767px) {
            margin-right: 0px;
            margin-bottom: 15px;
        }
    }
    .complete-booking-btn {
        max-width: 169px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
        border-radius: 19px;
        background-color: #ffffff;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        color: #0141aa;
    }
}

.back-dashboard {
    max-width: 786px;
    margin: 0 auto;
    padding-bottom: 32px;
    @media (max-width: 998px) {
        padding-left: 30px;
        max-width: 100%;
    }
    a {
        display: flex;
        align-items: center;
        span {
            font-size: 16px;
            color: #1094ff;
            margin-left: 6px;
        }
    }
}

//calendar
.upload-paper-page .upload-paper.calendar-page .box-body{
    padding: 35px 27px;
}
.calendar-page {
    .back-dashboard {
        max-width: 869px;
    }
    .box-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 40px 27px;
    }
    .select-drop {
        min-width: 190px;
        width: 100px;
        display: block;
    }
    .switchView {
        cursor: pointer;
        color: #4c4c4c;
        margin: 0 6px;
        font-family: Lato;
        font-size: 16px;
        &.active {
            color: #1094ff;
            text-decoration: underline;
        }
    }
}



// STAR RATING
$unchecked-star: '\2606';
$unchecked-color: #d8d8d8;
$checked-star: '\2605';
$checked-color: #0141aa;

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    * {
      font-size: 1rem;
    }
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    & > input {
      display: none;
      & + label {
        display: inline-block;
        font-size: 37px;
        width: 1.5em;
        white-space: nowrap;
        cursor: pointer;
        &:before {
          display: inline-block;
          text-indent: -9999px;
          content: $checked-star;
          color: $unchecked-color;
        }
      }
      &:checked ~ label:before,
        & + label:hover ~ label:before,
        & + label:hover:before {
        content: $checked-star;
        color: #0141aa;
        // text-shadow: 0 0 1px #333;
      }
    }
    
    /* the hidden clearer */
    & > .star-cb-clear + label {
      text-indent: -9999px;
      width: .5em;
      margin-left: -.5em;
    }
    & > .star-cb-clear + label:before {
      width: .5em;
    }
  
    &:hover > input + label:before {
      content: $checked-star;
      color: $unchecked-color;
      text-shadow: none;
    }
    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:hover:before {
      content: $checked-star;
      color: $checked-color;
    //   text-shadow: 0 0 1px #333;
    }
  }
  // STAR RATING END 