.input-wrap {
    display: flex;
    flex-direction: column;
    span {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: normal;
        margin-bottom: 10px;
        &.required {
            color: #d0021b;
        }
    }
    input {
        padding-left: 15px;
        max-width: 280px;
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        height: 37px;
        color: #4c4c4c;
        border-radius: 1px;
        background-color: #ffffff;
        border: solid 1px #4c4c4c;
        &::placeholder {
          color: #4c4c4c;
        }
        &.lg {
            max-width: 437px;
        }
        &.label-eur {
          max-width: 87px !important;
        }
    }
}

.select-wrap {
    display: flex;
    flex-direction: column;
    span {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: normal;
        margin-bottom: 10px;
        color: #4c4c4c;
        &.required {
            color: #d0021b;
        }
    }
    select {
        padding-left: 10px;
        width: 100%;
        max-width: 230px;
        height: 37px;
        -webkit-appearance: none;
        border-radius: 1px;
        background-color: transparent;
        border: solid 1px #4c4c4c;
        border-right-color: transparent;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #4c4c4c;
        position: relative;
        z-index: 15;
        &:focus {
          outline: none;
        }
    }
    .select-drop {
      position: relative;
      max-width: 230px;
      width: 100%;
      &:after {
        content: '';
        display: block; 
        position: absolute;
        z-index: 10;
        width: 41px;
        top: 0px;
        right: 1px;
        height: 37px;
        background-color: #26416c;
        background-image: url(https://i.imgur.com/XFAMVoK.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
}

.radio-wrap {
    span {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: normal;
        margin-bottom: 2px;
    }
    .radio-field {
        display: flex;
        align-items: center;
        margin-top: 8px;
        span {
            margin-right: 10px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            line-height: normal;
            color: #4c4c4c;
        }
    }
    .control {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 25px;
        cursor: pointer;
        font-size: 18px;
      }
      .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 21px;
        transition: .2 ease;
        width: 21px;
        border: 1px solid #4c4c4c;
      }
      .control--radio .control__indicator {
        border-radius: 50%;
      }
      .control:hover input ~ .control__indicator,
      .control input:focus ~ .control__indicator {
        background-color: #26416c;
      }
      .control input:checked ~ .control__indicator {
        // border: solid 0.4px #4c4c4c;
        // background-color: #fff;
      }
      .control:hover input:not([disabled]):checked ~ .control__indicator,
      .control input:checked:focus ~ .control__indicator {
        background: #fff;
        border: 5px solid #26416c;
      }
      .control input:disabled ~ .control__indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
      }
      .control__indicator:after {
        content: '';
        position: absolute;
        display: none;
      }
      .control input:checked ~ .control__indicator:after {
        display: block;
      }
      .control--checkbox .control__indicator:after {
        
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      .control--checkbox input:disabled ~ .control__indicator:after {
        border-color: #7b7b7b;
      }
      .control--radio .control__indicator:after {
        left: 5px;
        top: 5px;
        height: 11px;
        width: 11px;
        border-radius: 50%;
      }
      .control--radio input:disabled ~ .control__indicator:after {
        background: #7b7b7b;
      }
}

.check-wrap {
    li {
        display: flex;
        span {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 21px;
            color: #4c4c4c;
        }
        .terms-modal {
            color: #1094ff;
        }
    }
    
    .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
      
        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }
      
        // Box.
        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          border: solid 0.5px #4c4c4c;
          background: white;
        }

        // Box checked
        &:checked + label:before {
          background: #fff;
        }
        
        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }
      
        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
        }
      
        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 11px;
          background: #4c4c4c;
          width: 2px;
          height: 2px;
          box-shadow: 
            2px 0 0 #4c4c4c,
            4px 0 0 #4c4c4c,
            4px -2px 0 #4c4c4c,
            4px -4px 0 #4c4c4c,
            4px -6px 0 #4c4c4c,
            4px -8px 0 #4c4c4c;
          transform: rotate(45deg);
        }
      }
}

// BTN-MOBULES

.standart-btn {
  width: 194px;
  height: 40px;
  border-radius: 19px;
  background-color: #77d40d;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fdfdfd;
}


.upload-btn , .preview-btn {
  width: 84px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border: solid 0.2px #979797;
  font-size: 14px;
  font-weight: bold;
  color: #4c4c4c;
  &:hover {
    color: #4c4c4c;
  }
  @media (max-width: 767px) {
      width: 135px;
      height: 37px;
      margin: 0 auto;
  }
}

.rounded-btn {
  width: 194px;
  height: 40px;
  border-radius: 19px;
  background-color: #ffffff;
  border: solid 1px #26416c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #002855;
  &:hover {
    background-color: #26416c;
    color: #fff;
    transition: .2s ease;
  }
  &.full-red {
    border: none;
    color: #fff;
    background-color: #d54355;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      border: solid 1px #d54355;
      color: #d54355;
      background-color: #fff;
    }
    
  }
  &.full-green {
    border: none;
    color: #fff;
    background-color: #77d40d;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1); 
  }
  &.full-grey {
    background-color: #a5a5a5;
    border: 0;
    color: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  }
}

.line-btn {
  font-size: 18px;
  text-align: center;
  color: #4c4c4c;
  border-bottom: solid 1px #4c4c4c;
  &:hover {
    color: #4c4c4c;
  }
}

textarea {
  width: 100%;
  height: 202px;
  border-radius: 1px;
  background-color: #ffffff;
  border: solid 1px #4c4c4c;
}

.drop-wrap {
  max-width: 230px;
  position: relative;
  input {
    padding-left: 10px;
    width: 100%;
    max-width: 230px;
    height: 37px;
    -webkit-appearance: none;
    border-radius: 1px;
    background-color: transparent;
    border: solid 1px #4c4c4c;
    border-right-color: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #4c4c4c;
    position: relative;
    z-index: 15;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    width: 41px;
    top: 0px;
    right: 1px;
    height: 37px;
    background-color: #26416c;
    background-image: url(https://i.imgur.com/XFAMVoK.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  .menu-drop {
    display: none;
    position: absolute;
    width: 460px;
    width: 100%;
    &.opened {
      display: block;
    }
    ul {
      border-radius: 1px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.23);
      background-color: #ffffff;
      border: solid 1px #4c4c4c;
      font-size: 12px;
      color: #4c4c4c;
      li {
        height: 45px;
        display: flex;
        align-items: center;
        padding-left: 17px;
        background-color: rgba(60, 149, 247, 0.05);
        border-radius: 1px;
        &:nth-child(2n) {
          background-color: #fff;
        }
      }
    }
  }
}

//BLUE BTN
.blue-big-btn {
  width: 442px;
  height: 46px;
  border-radius: 3px;
  background-color: #0141aa;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  transition: .3s ease;
  &:hover {
    background-color: #185ed0;
  }
}

//SWITCHER 
.checkbox {
  position: relative;
  display: inline-block;
}
.checkbox:after, .checkbox:before {
  font-family: FontAwesome;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
          font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.checkbox label {
  width: 90px;
  height: 42px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
}
.checkbox label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
  left: 40px;
}

.model-15 {
  display: inherit;
}

.model-15 .checkbox {
  width: 94px;
  height: 34px;
  border: 2px solid #ddd;
  background: #1094FF;
  border-radius: 0.1px;
  overflow: hidden;
}
.model-15 .checkbox:after, .model-15 .checkbox label:before {
  content: 'Yes';
  position: absolute;
  left: 8px;
  font-size: 16px;
  top: 4px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}
.model-15 .checkbox label:before {
  content: 'No';
  left: auto;
  font-size: 16px;
  top: 4px;
  right: 10px;
  z-index: 1;
}
.model-15 .checkbox label {
  box-shadow: inset -1px 0 1px 0 rgba(76, 76, 76, 0.29);
  background-color: #a5a5a5;
  width: 90px;
  height: 32px;
  border-radius: 0.1px;
}
.model-15 .checkbox label:after {
  border-radius: 0.1px;
  box-shadow: none !important;
  top: 0;
  width: 50px;
  height: 32px;
}
.model-15 .checkbox input:checked + label {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
}
.model-15 .checkbox input:checked + label:after {
  left: 0;
}


.input-search {
  width: 189px;
  height: 40px;
  display: flex;
  position: relative;
  input {
    width: 189px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 0.5px #4c4c4c;
    padding-right: 40px;
    padding-left: 25px;
  }
  img {
    position: absolute;
    right: 10px;
    bottom: 9px;
  }
}

.start-tutor-btn {
  width: 133px;
  height: 37.5px;
  border-radius: 18.8px;
  background-color: #0141aa !important;
  font-size: 16px !important;
  opacity: 1;
  text-shadow: none;
  font-weight: bold;
  color: #ffffff;
  .close {
    font-size: 16px !important;
  }
  &:hover {
    color: #fff;
    opacity: 1;
  }
}